@model Taalcafe.Models.DB.SessiePartner
<div class="row">
    @Html.HiddenFor(model => model.SessieId)
    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.DropDownListFor(model => model.TaalcoachId , (SelectList) ViewBag.Taalcoaches, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TaalcoachId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.DropDownListFor(model => model.CursistId, (SelectList) ViewBag.Cursisten, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CursistId, "", new { @class = "text-danger" })
        </div>
    </div>
    </hr>
</div>