@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-7">
            <p>
                <h3>Welkom bij het online Samsam taalcafé!</h3>
                Samsam is een programma dat ouderen en nieuwe Nederlanders bij elkaar brengt om de taal te oefenen op een informele manier door middel van videobellen. De focus ligt hierbij op het oefenen van conversatie vaardigheden. De thematiek die gebruikt wordt, zal dan ook geen spelling of grammatica aanbieden. Samsam heeft leuke thema's waardoor er altijd een relevant gesprek gevoerd zal worden. Dit kan op elk niveau van beheersing van de Nederlandse taal.
                <br />
                <br />
                Het allerbelangrijkst is de ontmoetingen en de nieuwe vriendschappen die ontstaan. Probeer er dus voor te zorgen dat iedereen zich altijd op zijn gemak voelt en de sfeer ontspannen is.
            </p>
            <p>
                <h3>Nog niet aangemeld of heeft u vragen?</h3>
                Neem dan contact met ons op via <a href="mailto: samsamtaalcafe@gmail.com">samsamtaalcafe@gmail.com</a>.

            </p>
        </div>
        <div class="col-md-5 bg-taalcafe">
            <form asp-action="Login" method="post" class="form-horizontal" style="margin-top:5%">
                @Html.AntiForgeryToken()
                <div class="row  align-items-center">
                    <div class="col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger val-summary"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <p>Wachtwoord vergeten? Neem contact op via <a href="mailto: samsamtaalcafe@gmail.com">samsamtaalcafe@gmail.com</a>.</p>
                        </div>
                        <div class="form-group row justify-content-center pr-3 pl-3">
                            <input type="submit" value="Login" class="btn btn-success" style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>   
</div>


@*<div class="form-group row justify-content-center align-items-center">
        @Html.Label("InputGebruikersnaam", "Gebruikersnaam:", new { @class = "col-form-label col-form-label-lg mr-3" })
        <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        </div>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row justify-content-center align-items-center">
        @Html.Label("InputPassword", "Wachtwoord:", new { @class = "col-form-label col-form-label-lg mr-5" })

        <div>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
<br />*@

