@model IEnumerable<Meeting>
@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-2"> Meetings</h1>
    <hr />
    <div class="mb-2">
        <a class="btn btn-primary" asp-action="create" asp-controller="meeting">Meeting toevoegen</a>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Starttijd</th>
                <th scope="col">Eindtijd</th>
                <th scope="col">Thema</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <th>@(i + 1)</th>
                <td>@Model.ElementAt(i).StartDate</td>
                <td>@Model.ElementAt(i).EndDate</td>
                <td>@Model.ElementAt(i).Theme.Title</td>
                <td>
                    <a class="btn btn-primary" asp-action="edit" asp-controller="meeting" asp-route-id="@Model.ElementAt(i).Id">Bewerken</a>
                    <form asp-action="Delete" asp-route-id="@Model.ElementAt(i).Id" method="post" style="display:inline-block;">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Verwijder" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>