@model Taalcafe.Models.DB.Sessie
@{
    ViewData["Title"] = "Duo's overzicht";
}

@section Scripts{
    <script>
        // Request and add the partial view for SessiePartners to the form.        
        function AddDuo() {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Sessie/AddDuo',
                success: function (partialView) {
                    //console.log("partialView: "+partialView);
                    $('#Duos').html(partialView);
                },
                error: function (reqObj, status, err) {
                    console.log(reqObj);
                    console.log(reqObj.responseText)
                    console.log(status);
                    console.log(err);
                }
                
            });
        }
    </script>
}

<div class="container-fluid">
    <div class="row">
        <h1>Duo's</h1>
    </div>
    
    <div class="row">
        
        <form asp-action="Couples" id="form">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Datum)
            @Html.HiddenFor(model => model.Duur)
            @Html.HiddenFor(model => model.ThemaId)

            <div class="row">
                Sessie op @Html.DisplayFor(model => model.Datum).
            </div>
            <div class="row">
                @if (ViewBag.invalid == true)
                {
                    @Html.ValidationMessageFor(model => model.SessiePartners, "Een gebruiker is bij meerdere duo's ingedeeld.", new { @class = "text-danger" })
                }
            </div>
            <div class="row" id="Duos">
                @Html.EditorFor(model => model.SessiePartners)
            </div>
            <div class="row">
                <input class="btn btn-success" type="button" onclick="AddDuo()" value="Duo Toevoegen" />
                <input class="btn btn-success" type="submit" id="submit" value="Duo's opslaan" />
            </div>
        </form>
    </div>
</div>