@model Taalcafe.Models.DB.Thema
@{
    ViewData["Title"] = "Thema aanmaken";
}

@section scripts {
    <script src="~/js/create_thema.js"> </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thema</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Beschrijving, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea asp-for="Beschrijving" class="form-control"></textarea>
                @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
            </div>
        </div>


        @*TODO: Afbeeldingen toevoegen*@
        @*
        <div class="form-group">
            @Html.HiddenFor(model => model.Afbeeldingen)
            @Html.LabelFor(model => model.Afbeeldingen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input class="form-control" type="text" id="vraagBox">*\@
                @Html.ValidationMessageFor(model => model.Afbeeldingen, "", new { @class = "text-danger" })
                <input class="btn btn-secondary" type="button" onclick="" value="Toevoegen"></input>
                <ul class="list-group" id="AfbeeldingenLijst"> </ul>
            </div>            
        </div>
        *@

        
        <div class="form-group">
            @Html.HiddenFor(model => model.Vragen)
            @Html.LabelFor(model => model.Vragen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="text" id="vraagBox">
                @Html.ValidationMessageFor(model => model.Vragen, "", new { @class = "text-danger" })
                <input class="btn btn-secondary" type="button" onclick="AddVraag()" value="Toevoegen"></input>
                <ul class="list-group" id="vragenLijst"> </ul>
            </div>            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thema opslaan" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar thema overzicht", "Index")
</div>