@model Taalcafe.Models.DB.Gebruiker

@{
    ViewData["Title"] = "Gebruikersdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h3><u>Details gebruiker</u></h3>
    </div>
    <div class="row">
        <div class="col-3 warning">
            picture here
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-3">
                    <b>@Html.DisplayNameFor(model => model.Naam)</b>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Naam)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>@Html.DisplayNameFor(model => model.Email)</b>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>@Html.DisplayNameFor(model => model.Telefoon)</b>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Telefoon)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>Categorie</b>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Account.Type)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <b>@Html.DisplayNameFor(model => model.Niveau)</b>
                </div>
                <div class="col-9">
                    @Html.DisplayFor(model => model.Niveau)
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <a href='@Url.Action("Edit", "Gebruikers", new { id=@Model.Id })' class="btn btn-danger">Gebruiker bewerken</a>
            </div>
            <div class="row">
                <a href='@Url.Action("Index", "Gebruikers")' class="btn btn-secondary">Terug naar gebruikersoverzicht</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h3><u>Evaluaties gesprekken</u></h3>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <b>Datum</b>
                        </div>
                        <div class="col-3">
                            <b>Partner</b>
                        </div>
                        <div class="col-2">
                            <b>Beoordeling</b>
                        </div>
                        <div class="col-5">
                            <b>Toelichting</b>
                        </div>
                    </div>
                </div>
            </li>
            @foreach (var item in Model.SessiePartnerTaalcoaches)
            {
                @if (item.CijferTaalcoach != null) {
                    <li class="list-group-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2">
                                    @item.Sessie.Datum
                                </div>
                                <div class="col-3">
                                    @Html.DisplayFor(modelItem => item.Cursist.Naam )
                                </div>
                                <div class="col-2">
                                    @Html.ValueFor(modelItem => item.CijferTaalcoach)
                                </div>
                                <div class="col-5">
                                    @if (item.FeedbackTaalcoach == null) {
                                        <p>De gebruiker heeft geen feedback gegeven op de sessie</p>
                                    }
                                    else {
                                        @Html.ValueFor(modelItem => item.FeedbackTaalcoach)
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }

            @foreach (var item in Model.SessiePartnerCursists)
            {
                @if (item.CijferCursist != null) {
                    <li class="list-group-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2">
                                    @item.Sessie.Datum
                                </div>
                                <div class="col-3">
                                    @Html.DisplayFor(modelItem => item.Taalcoach.Naam )
                                </div>
                                <div class="col-2">
                                    @Html.ValueFor(modelItem => item.CijferCursist)
                                </div>
                                <div class="col-5">
                                    @if (item.FeedbackCursist == null) {
                                        <p>De gebruiker heeft geen feedback gegeven op de sessie</p>
                                    }
                                    else {
                                        @Html.ValueFor(modelItem => item.FeedbackCursist)
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>